BasedOnStyle: Google
IndentWidth: 2
Language: Cpp
PointerAlignment: Left
ColumnLimit: 80
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Right
AlignOperands: Align
AllowAllArgumentsOnNextLine: true
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 4
ReflowComments: true
SortIncludes: CaseSensitive
SortUsingDeclarations: true
UseCRLF: false
UseTab: Never
